@import './variables.scss';

body {
    background-color: $background-color;
}

.page-title {
    @include page-title();
}

.nav-title {
    @include nav-title();
}

.content-title {
    @include content-title();
}

.description {
    @include description();
}

.body-text {
    @include body-text();
}

.small-text {
    @include small-text();
}

.background-text {
    @include background-text('14');
}

.ui.segment {
    border: 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}