//add more as you wish!

$primary-font-family: 'Roboto', sans-serif;
$secondry-font-family: 'lato', 'sans-serif';

$background-color:#f5f5f5;

$font-color:#4b4f56;
$lighter-font-color:#616770;
$lightest-font-color:#90949c;

@mixin page-title(){
    color: $font-color!important;
    font-size: 30px!important;
    font-family: $secondry-font-family!important;
    font-weight: 300!important;
}

@mixin nav-title(){
    color: $font-color!important;
    font-size: 16px!important;
    font-family: $secondry-font-family!important;
    font-weight: 300!important;
}

@mixin content-title(){
    color: $lighter-font-color!important;
    font-size: 16px!important;
    font-family: $primary-font-family!important;
    font-weight: 300!important;
}

@mixin description(){
    color: $lighter-font-color!important;
    font-size: 14px!important;
    font-family: $primary-font-family!important;
    font-weight: 300!important;
}

@mixin body-text(){
    color: $lighter-font-color!important;
    font-size: 14px!important;
    font-family: $primary-font-family!important;
    font-weight: 300!important;
}

@mixin small-text(){
    color: $lighter-font-color!important;
    font-size: 12px!important;
    font-family: $primary-font-family!important;
    font-weight: 300!important;
}

@mixin background-text($font-size){
    color: $lightest-font-color!important;
    font-size: $font-size!important;
    font-family: $primary-font-family!important;
    font-weight: 300!important;
}
